training_seed: &training_seed 11
dataset_seed: &dataset_seed 11

strategy:
  finetuning_set: &finetuning_set 'Heldout'
  poison:
    pretraining:
      set: 'Train'
      rate: 0.02
      target_class: 0
      trigger_percent: 0.03
      margin: 2
      seed: 8
    finetuning:
      - set: 'Train'
        rate: 1.0
        target_class: 0
        trigger_percent: 0.03
        margin: 2
        seed: 10


datasets:
  - name: "mnist"
    num_classes: 10
    img_size: [224, 224]
    batch_size: 256
    heldout_conf: 0.02
    valset_ratio: 0.0
    num_workers: 12
    seed: *dataset_seed


model:
  type: 'open_clip_multihead_ViT-B-16'
  pt_weights: 'openai'
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  finetuning:
    mix:
      max_iterations: 4000
      optimizer_cfg: 
        type: "adamw"
        lr: 1.0e-5
        betas: [0.9, 0.999]
      lr_schedule_cfg:
        type: 'cosann_warmup'
        update_on: 'gradient_step'
        warmup_steps: 300
        hold_steps: 700
        T_max: 4000
        eta_min: 0
      early_stopping: False
      validation_freq: -1
      save_best_model: False
      checkpoint_freq: -1
      run_on_gpu: True
      use_amp: True
      log_comet: True
      comet_project_name: 'clip-poison-TA'
      seed: *training_seed
    poison:
      max_iterations: 100
      optimizer_cfg: 
        type: "adamw"
        lr: 1.0e-5
        betas: [0.9, 0.999]
      lr_schedule_cfg:
        type: 'cosann_warmup'
        update_on: 'gradient_step'
        warmup_steps: 30
        hold_steps: 20
        T_max: 100
        eta_min: 0
      early_stopping: False
      validation_freq: -1
      save_best_model: False
      checkpoint_freq: -1
      run_on_gpu: True
      use_amp: True
      log_comet: True
      comet_project_name: 'clip-poison-TA'
      seed: *training_seed
    clean:
      max_iterations: 3000
      optimizer_cfg: 
        type: "adamw"
        lr: 1.0e-5
        betas: [0.9, 0.999]
      lr_schedule_cfg:
        type: 'cosann_warmup'
        update_on: 'gradient_step'
        warmup_steps: 300
        hold_steps: 700
        T_max: 3000
        eta_min: 0
      early_stopping: False
      validation_freq: -1
      save_best_model: False
      checkpoint_freq: -1
      run_on_gpu: True
      use_amp: True
      log_comet: True
      comet_project_name: 'clip-poison-TA'
      seed: *training_seed
    heldout:
      max_iterations: 250
      optimizer_cfg: 
        type: "adamw"
        lr: 1.0e-5
        betas: [0.9, 0.999]
      lr_schedule_cfg:
        type: 'cosann_warmup'
        update_on: 'gradient_step'
        warmup_steps: 100
        hold_steps: 50
        T_max: 250
        eta_min: 0
      early_stopping: False
      validation_freq: -1
      save_best_model: False
      checkpoint_freq: -1
      run_on_gpu: True
      use_amp: True
      log_comet: True
      comet_project_name: 'clip-poison-TA'
      seed: *training_seed