# Farooq experiment

training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  noise:
    set: 'Train'
    noise_rate: 0.5
    noise_type: 'symmetric'
    seed: 8


dataset:
  name: "mnist"
  num_classes: &num_classes 10
  img_size: [28, 28]
  batch_size: 1024
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: null
  normalize_imgs: True
  flatten: True
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'fc1'
  input_dim: 784
  hidden_dim: 32768
  output_dim: *num_classes
  loss_fn: 'CE-NR'
  metrics: ['ACC', 'F1']



trainer:
  max_epochs: 300
  optimizer_cfg: 
    type: "adamw"
    lr: 5.0e-4
    betas: [0.9, 0.999]
  lr_schedule_cfg:
    type: 'step'
    milestones: [50, 100, 150, 200, 250, 300, 350]
    gamma: 0.7
  early_stopping: False
  validation_freq: -1
  save_best_model: False
  checkpoint_freq: -1
  run_on_gpu: True
  use_amp: True
  log_comet: True
  comet_project_name: 'various-experiments'
  seed: *training_seed

