# Hypothesis:
# This is config 18 where we did not use BN layer in the CNN5 to see if the problem of model collapsing goes away and
# it did in fact solved the problem. So far we get cosine similariy between 0.2 to 0.3 for the test class 0 and other classes.
# The goal of config 19 is to check whether by excluding training samples from fine tuninig samples and only use heldout samples from 
# one class for fine tuning, this will give us more orthogonal task vectors or not. In order to keep the formation of the 
# last classfication head, we freeze it so it does not collapse to output only one class without learning anything.

# Results:
# Checking the finetuned models for each class, it is obvious that the models learnt function is getting destoryed if we only finetune
# on examples of one class. There must exist some samples from each class to prevent the model to get far away from learnt function
# in the pretraining phase. So the conclusion is, the support of the distribution of the samples in the finetuning phase should be
# the same as pre training distribution so the model does not collapse on the fine tuning class.

training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  methodology: 'ClassTVFreezeHead'
  finetuning_set: &finetuning_set 'Heldout'
  
  # noise:
  #   pretraining:
  #     set: 'Train'
  #     noise_rate: 0.0
  #     noise_type: 'symmetric'
  #     seed: 8
  #   finetuning:
  #     set: *finetuning_set
  #     noise_rate: 1.0
  #     noise_type: 'symmetric'
  #     seed: 8


dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [32, 32]
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: 
    0: 0.85
    1: 0.85
    2: 0.85
    3: 0.85
    4: 0.85
    5: 0.85
    6: 0.85
    7: 0.85
    8: 0.85
    9: 0.85
  grayscale: False
  normalize_imgs: True
  flatten: False
  valset_ratio: 0.0
  return_index: True
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'cnn5_nonorm'
  num_channels: 128
  num_classes: *num_classes
  loss_fn: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  pretraining:
    max_epochs: 600
    batch_size: 1024
    optimizer_cfg: 
      type: "adam"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg: null
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'task-vectors-cifar10'
    seed: *training_seed

  finetuning:
    max_epochs: 400
    batch_size: 1024
    optimizer_cfg: 
      type: "adam"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg: null
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'task-vectors-cifar10'
    seed: *training_seed

