# same as config 1 but with fine tuning on different noise seed
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  finetuning_set: &finetuning_set 'Heldout'
  noise:
    pretraining:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 11
    finetuning:
      set: *finetuning_set
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 22


dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [32, 32]
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: 
    0: 0.5
    1: 0.5
    2: 0.5
    3: 0.5
    4: 0.5
    5: 0.5
    6: 0.5
    7: 0.5
    8: 0.5
    9: 0.5
  grayscale: False
  normalize_imgs: True
  flatten: False
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'cnn5'
  num_channels: 128
  num_classes: *num_classes
  loss_fn: 'CE'
  metrics: ['ACC', 'F1']

trainer:
  pretraining:
    max_epochs: 600
    batch_size: 1024
    optimizer_cfg: 
      type: "adam"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg: null
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'task-vectors-cifar10'
    seed: *training_seed

  finetuning:
    max_epochs: 400
    batch_size: 1024
    optimizer_cfg: 
      type: "adam"
      lr: 5.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg: null
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'task-vectors-cifar10'
    seed: *training_seed

