global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  proxy_set: &proxy_set 'Heldout'
  corruption:
    mix:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 8
    proxy:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10



dataset:
  name: "mnist"
  num_classes: &num_classes 10
  img_size: [28, 28]
  batch_size: 1024
  heldout_conf: 0.02
  normalize_imgs: True
  flatten: True
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'fc1'
  input_dim: 784
  hidden_dim: 32768
  output_dim: *num_classes
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']




trainer:
  mix:
    max_epochs: &max_epochs 200
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

  oracle:
    max_epochs: &max_epochs 200
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

  proxy:
    max_epochs: 300
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 100, 150, 200, 250]
      gamma: 0.8
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed


  CF:
    max_epochs: 30
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [5, 10, 15, 20, 25]
      gamma: 0.8
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed