global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  finetuning_set: &finetuning_set 'Heldout'
  noise:
    pretraining:
      set: 'Train'
      noise_rate: 0.6
      noise_type: 'symmetric'
      seed: 8
    finetuning:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10


dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [224, 224]
  batch_size: 256
  heldout_conf: 0.1
  grayscale: False
  normalize_imgs: True
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'torchvision_resnet18'
  num_classes: *num_classes
  img_size: [224, 224]
  grayscale: False
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']



trainer:
  pretraining:
    max_epochs: &max_epochs 150
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-3
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

  finetuning:
    max_epochs: 120
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 70, 90, 100, 110, 115]
      gamma: 0.7
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

