global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11

strategy:
  proxy_set: &proxy_set 'Heldout'
  corruption:
    mix:
      set: 'Train'
      noise_rate: 0.1
      noise_type: 'IC'
      class_swap: [3, 5]
      seed: 8
    proxy:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'IC'
        class_swap: [3, 5]
        seed: 12


dataset:
  name: "cifar10"
  num_classes: 10
  img_size: [224, 224]
  batch_size: 256
  heldout_conf: 0.02
  valset_ratio: 0.0
  num_workers: 12
  seed: *dataset_seed


model:
  type: 'open_clip_multihead_ViT-B-16'
  pt_weights: 'openai'
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  mix:
    max_iterations: 5000
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 300
      hold_steps: 700
      T_max: 5000
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-IC-TA'
    seed: *training_seed
  proxy:
    max_iterations: 200
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 30
      hold_steps: 70
      T_max: 200
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-IC-TA'
    seed: *training_seed
  oracle:
    max_iterations: 4000
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 300
      hold_steps: 700
      T_max: 4000
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-IC-TA'
    seed: *training_seed
  CF:
    max_iterations: 250
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 100
      hold_steps: 50
      T_max: 250
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-IC-TA'
    seed: *training_seed

  # gradient_ascent:
  #   max_iterations: 1000
  #   optimizer_cfg: 
  #     type: "adamw"
  #     lr: 1.0e-5
  #     betas: [0.9, 0.999]
  #   lr_schedule_cfg:
  #     type: 'cosann_warmup'
  #     update_on: 'gradient_step'
  #     warmup_steps: 100
  #     hold_steps: 0
  #     T_max: 1000
  #     eta_min: 1.0e-7
  #   early_stopping: False
  #   validation_freq: -1
  #   save_best_model: False
  #   checkpoint_freq: -1
  #   run_on_gpu: True
  #   use_amp: True
  #   log_comet: True
  #   comet_project_name: 'clip-noise-TA'
  #   seed: *training_seed
