
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  methodology: 'ClassTVFullWeight'
  finetuning_set: &finetuning_set 'Heldout+Train'

dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [32, 32]
  batch_size: 1024
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: 
    0: 0.85
    1: 0.85
    2: 0.85
    3: 0.85
    4: 0.85
    5: 0.85
    6: 0.85
    7: 0.85
    8: 0.85
    9: 0.85
  grayscale: False
  normalize_imgs: True
  flatten: False
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'vit_small'
  num_classes: *num_classes
  img_size: [32, 32]
  loss_fn: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  pretraining:
    max_epochs: &max_epochs_pt 300
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs_pt
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'class-task-vectors-cifa10'
    seed: *training_seed

  finetuning:
    max_epochs: &max_epochs_ft 300
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      # betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs_ft
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'class-task-vectors-cifa10'
    seed: *training_seed

