global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  proxy_set: &proxy_set 'Heldout'
  corruption:
    mix:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 8
    proxy:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10


dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [224, 224]
  batch_size: 256
  heldout_conf: 0.02
  grayscale: False
  normalize_imgs: True
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'torchvisionsap_resnet50'
  pt_weights: 'IMAGENET1K_V2'
  num_classes: *num_classes
  img_size: [224, 224]
  grayscale: False
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  mix:
    max_epochs: 120
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: 120
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

  oracle:
    max_epochs: 120
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: 120
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed

  proxy:
    max_epochs: 120
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 70, 90, 100, 110, 115]
      gamma: 0.7
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed




  CF:
    max_epochs: 80
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 60, 80, 90]
      gamma: 0.9
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-noise-TA'
    seed: *training_seed