global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 15


strategy:
  proxy_set: &proxy_set 'Val+Subset'
  subset_size: 1000
  corruption:
    proxy:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10


dataset:
  name: "clothing1M"
  num_classes: &num_classes 14
  img_size: [224, 224]
  batch_size: 256
  valset_ratio: 0.0
  num_workers: 12
  seed: *dataset_seed


# model:
#   type: 'dinov3'
#   num_classes: *num_classes
#   pt_weights: 'facebook/dinov3-vitb16-pretrain-lvd1689m'
#   loss_fn:
#     type: 'CE'
#   metrics: ['ACC', 'F1']

model:
  type: 'torchvisionsap_resnet101'
  pt_weights: 'IMAGENET1K_V2'
  num_classes: *num_classes
  img_size: [224, 224]
  grayscale: False
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']


trainer:

  mix:
    max_epochs: 400
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      warmup_steps: 10
      hold_steps: 200
      T_max: 400
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'realworld-TA'
    seed: *training_seed
  proxy:
    max_epochs: 60
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      warmup_steps: 10
      hold_steps: 20
      T_max: 60
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'realworld-TA'
    seed: *training_seed


  CF:
    max_epochs: 60
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      warmup_steps: 10
      hold_steps: 20
      T_max: 60
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'realworld-TA'
    seed: *training_seed