global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11

strategy:
  proxy_set: &proxy_set 'Heldout'
  corruption:
    mix:
      set: 'Train'
      rate: 0.02
      target_class: 0
      trigger_percent: 0.03
      margin: 2
      seed: 8
    proxy:
      - set: 'Train'
        rate: 1.0
        target_class: 0
        trigger_percent: 0.03
        margin: 2
        seed: 10


dataset:
  name: "mnist"
  num_classes: &num_classes 10
  img_size: [224, 224]
  batch_size: 256
  grayscale: False
  flatten: False
  heldout_conf: 0.02
  valset_ratio: 0.0
  num_workers: 12
  seed: *dataset_seed

model:
  type: 'torchvision_resnet18'
  num_classes: *num_classes
  img_size: [224, 224]
  grayscale: False
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']



trainer:
  mix:
    max_epochs: &max_epochs 120
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-3
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 1.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-poison-TA'
    seed: *training_seed

  oracle:
    max_epochs: &max_epochs 120
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-3
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 1.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-poison-TA'
    seed: *training_seed

  proxy:
    max_epochs: 200
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'epoch'
      warmup_steps: 30
      hold_steps: 120
      T_max: 200
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-poison-TA'
    seed: *training_seed


  CF:
    max_epochs: 30
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'epoch'
      warmup_steps: 10
      hold_steps: 10
      T_max: 30
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-poison-TA'
    seed: *training_seed