global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  finetuning_set: &finetuning_set 'Val+Subset'
  noise:
    finetuning:
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10


dataset:
  name: "clothing1M"
  num_classes: &num_classes 14
  img_size: [224, 224]
  batch_size: 1024
  valset_ratio: 0.0
  num_workers: 12
  seed: *dataset_seed


model:
  type: 'torchvision_vit_b_16'
  pt_weights: 'IMAGENET1K_V1'
  num_classes: *num_classes
  img_size: [224, 224]
  grayscale: False
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']



trainer:

  pretraining:
    max_epochs: 10
    optimizer_cfg: 
      type: "sgd"
      lr: 2.0e-5
      weight_decay: 0.01
      momentum: 0.9
      nesterov: True
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-realworld-TA'
    seed: *training_seed

  finetuning:
    max_epochs: 20
    optimizer_cfg: 
      type: "sgd"
      lr: 1.0e-5
      weight_decay: 0.01
      momentum: 0.9
      nesterov: True
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-realworld-TA'
    seed: *training_seed

  finetuning_cf:
    max_epochs: 10
    optimizer_cfg: 
      type: "sgd"
      lr: 1.0e-5
      weight_decay: 0.01
      momentum: 0.9
      nesterov: True
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'regular-realworld-TA'
    seed: *training_seed