global_seed: 11
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11

strategy:
  finetuning_set: &finetuning_set 'Test'
  noise:
    # pretraining:
    #   set: 'Train'
    #   noise_rate: 0.0
    #   noise_type: 'symmetric'
    #   seed: 8
    finetuning:
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 12
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 10



dataset:
  name: "cifar100"
  num_classes: 100
  img_size: [224, 224]
  batch_size: 256
  heldout_conf: 0.0
  valset_ratio: 0.0
  num_workers: 12
  seed: *dataset_seed


model:
  type: 'open_clip_multihead_ViT-B-16'
  pt_weights: 'openai'
  loss_fn:
    type: 'CE'
  metrics: ['ACC', 'F1']


trainer:
  mix:
    max_iterations: 7000
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 300
      hold_steps: 2700
      T_max: 7000
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-noise-TA'
    seed: *training_seed
  proxy:
    max_iterations: 2500
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-5
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann_warmup'
      update_on: 'gradient_step'
      warmup_steps: 200
      hold_steps: 1800
      T_max: 2500
      eta_min: 0
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'clip-noise-TA'
    seed: *training_seed
