global_seed: 11
# Config 18 but fine tune noise vectors on HeldOut
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  finetuning_set: &finetuning_set 'Heldout'
  noise:
    pretraining:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 8
    finetuning:
      - set: 'Train'
        noise_rate: 0.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 12
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 10
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 15
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 20
      - set: 'Train'
        noise_rate: 1.0
        noise_type: 'symmetric'
        seed: 30

dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [32, 32]
  batch_size: 512
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: 
    0: 0.1
    1: 0.1
    2: 0.1
    3: 0.1
    4: 0.1
    5: 0.1
    6: 0.1
    7: 0.1
    8: 0.1
    9: 0.1
  grayscale: False
  normalize_imgs: True
  flatten: False
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'torchvision_resnet50_nonorm'
  pt_weights: 'IMAGENET1K_V2'
  num_classes: *num_classes
  img_size: [32, 32]
  grayscale: False
  loss_fn: 'CE'
  metrics: ['ACC', 'F1']




trainer:
  pretraining:
    max_epochs: &max_epochs 200
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

  finetuning:
    max_epochs: 450
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 100, 150, 200, 250, 300, 350, 400]
      gamma: 0.7
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

