# Let's see what happens if we fine tune on ground truth noisy samples only aggressively (long training low final learning rate)
training_seed: &training_seed 11
dataset_seed: &dataset_seed 11


strategy:
  finetuning_set: &finetuning_set 'CleanNoiseSplit'
  percentage: 0.4
  noise:
    pretraining:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 8
    finetuning:
      - set: 'TrainNoise'
        noise_rate: 0.0
        noise_type: 'symmetric'
        seed: 12


dataset:
  name: "cifar10"
  num_classes: &num_classes 10
  img_size: [32, 32]
  batch_size: 512
  subsample_size: [-1, -1]
  class_subset: []
  remap_labels: False
  heldout_conf: null
  grayscale: False
  normalize_imgs: True
  flatten: False
  valset_ratio: 0.0
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'resnet18v2'
  init_channels: 64
  num_classes: *num_classes
  img_size: [32, 32]
  loss_fn: 'CE-NR'
  metrics: ['ACC', 'F1']




trainer:
  pretraining:
    max_epochs: &max_epochs 300
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

  finetuning:
    max_epochs: 600
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      # betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 1.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

