# MoG Synthetic 40% noise
training_seed: &training_seed 22
dataset_seed: &dataset_seed 22


strategy:
  finetuning_set: &finetuning_set 'LowLoss'
  percentage: 0.3
  noise:
    pretraining:
      set: 'Train'
      noise_rate: 0.4
      noise_type: 'symmetric'
      seed: 8
    finetuning:
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 12
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 10
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 15
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 20
    - set: 'Train'
      noise_rate: 1.0
      noise_type: 'symmetric'
      seed: 30


dataset:
  name: "mog"
  num_samples: 100000
  num_classes: &num_classes 30
  num_features: &feature_dim 512
  clusters_per_class: 'random'
  base_cluster_std: 'random'
  covariance_type: 'full'
  class_sep: 1.0
  intra_class_spread: 2.0
  batch_size: 4096
  heldout_conf: null
  valset_ratio: 0.0
  testset_ratio: 0.3
  num_workers: 8
  seed: *dataset_seed


model:
  type: 'fc1'
  input_dim: *feature_dim
  hidden_dim: 32768
  output_dim: *num_classes
  loss_fn: 'CE-NR'
  metrics: ['ACC', 'F1']




trainer:
  pretraining:
    max_epochs: &max_epochs 200
    optimizer_cfg: 
      type: "adamw"
      lr: 5.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'cosann'
      T_max: *max_epochs
      eta_min: 5.0e-6
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

  finetuning:
    max_epochs: 300
    optimizer_cfg: 
      type: "adamw"
      lr: 1.0e-4
      betas: [0.9, 0.999]
    lr_schedule_cfg:
      type: 'step'
      milestones: [50, 100, 150, 200, 250]
      gamma: 0.8
    early_stopping: False
    validation_freq: -1
    save_best_model: False
    checkpoint_freq: -1
    run_on_gpu: True
    use_amp: True
    log_comet: True
    comet_project_name: 'pretrain-on-noise'
    seed: *training_seed

